<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bảng điểm môn học</title>
</head>
<body>
    <h1>
        <a href="{{ url_for('add_or_update_mark') }}"> NHẬP BẢNG ĐIỂM MÔN HỌC</a>
    </h1>
    <h1>NHẬP BẢNG ĐIỂM MÔN HỌC</h1>
    <form>
        <div class="form-group">
            <label>student name</label>
            <input type="text" name="name" class="form-control"/>
        </div>
        <div class="form-group">
            <label>student ID</label>
            <input type="text" name="name" class="form-control"/>
        </div>
        <div class="form-group">
            <label>Class</label>
            <input type="text" name="name" class="form-control"/>
        </div>
        <div class="form-group">
            <label>Mark</label>
            <input type="text" name="name" class="form-control"/>
        </div>
    </form>

</body>
</html>